zedboard-swsleds-freertos/Debug/
zedboard-swsleds-freertos/Release/
zedboard-swsleds-freertos_bsp/.sdkproject/
zedboard-swsleds-freertos_bsp/ps7_cortexa9_0/lib/*.a
zedboard-swsleds-freertos_bsp/ps7_cortexa9_0/libsrc/freertos10_xilinx_v1_0/src/*.o
zedboard-swsleds-freertos_bsp/ps7_cortexa9_0/libsrc/standalone_v6_6/src/*.o
zedboard-swsleds-fsbl/Debug/
zedboard-swsleds-fsbl/Release/
zedboard-swsleds-fsbl_bsp/ps7_cortexa9_0/lib/*.a
zedboard-swsleds-fsbl_bsp/ps7_cortexa9_0/libsrc/standalone_v6_6/src/*.o
zedboard-swsleds-fsbl_bsp/ps7_cortexa9_0/libsrc/xilffs_v3_8/src/*.o
zedboard-swsleds-fsbl_bsp/ps7_cortexa9_0/libsrc/xilrsa_v1_5/src/*.a
zedboard-swsleds-irq/Debug/
zedboard-swsleds-irq/Release/
zedboard-swsleds-irq_bsp/ps7_cortexa9_0/lib/*.a
zedboard-swsleds-irq_bsp/ps7_cortexa9_0/libsrc/standalone_v6_6/src/*.o
